<h1><%= tr(@recipe.title) %></h1>
<%= link "Edit recipe", to: Routes.live_path(@conn, RecipeLive, @recipe.id) %>
<ul class="ingredients-list">
    <%= for ingredient <- @recipe.ingredients do %>
	<%= ReceptarWeb.IngredientView.render("show.html", ingredient: ingredient) %>
    <% end %>
</ul>
<ul class="instructions-list">
    <%= for instruction <- @recipe.instructions do %>
	<li class="instruction-list-entry"><%= tr(instruction.content) %></li>
    <% end %>
</ul>
