<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Receptar", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
            <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
          </ul>
          <%= render "_user_menu.html", assigns %>
          <%= link "New recipe", to: "/recipe/new" %>
          <%= form_for @conn, Routes.recipe_path(@conn, :search), [method: :get], fn f -> %>
          <%= search_input f, :title %>
          <%= submit "Go" %>
          <% end %>
	  <form method="get">
	      <select name="language" onchange="this.form.submit();">
		  <%= for lang <- ReceptarWeb.Cldr.known_locale_names() do %>
		      <%= if lang == @conn.assigns.language do %>
			  <option value={lang} selected="selected"><%= lang %></option>
		      <% else %>
			  <option value={lang}><%= lang %></option>
		      <% end %>
		  <% end %>
	      </select>
	      <%= for {param, value} <- conn_params_without_language(@conn) do %>
		  <input type="hidden" name={param} value={value}>
	      <% end %>
	  </form>
        </nav>
        Space for the logo
        <a href="/">Home</a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
